# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDEs and editors
.idea/
.vscode/

# Large Raw Data files & processed Data files
data/raw/station_hour.csv
data/processed/

# Notebook checkpoints
.ipynb_checkpoints/
