# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDEs and editors
.idea/
.vscode/

# Data files (we don't track large data in Git)
data/raw/
data/processed/

# Notebook checkpoints
.ipynb_checkpoints/
